* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
  

}

.form-input {
  margin: 20px;
  
}

.form-input input {
  height: 30px;
  border: 1px solid rgb(89, 89, 196);
  width: 250px;
  border-radius: 3px;
}

.btn button{
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(89, 89, 196);
  color: white;
  border: 1px solid rgb(89, 89, 196);
  width: fit-content;
}